body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0087A5;
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FCB727;
    text-align: center;
    border-radius: 30px;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .lateral{
    background-color: #333333;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.80s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.80s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .notification{
    background-color: crimson;
    padding: 1%;
    color: #ffffff;
  }
  .logo{
    text-align: center;
    margin-top: 50px;
    bottom: 20px;
  }
  body,
  html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: #60a3bc !important;
  }
  .user_card {
      height: 400px;
      width: 350px;
      margin-top: auto;
      margin-bottom: auto;
      background: #f39c12;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
  
  }
  .brand_logo_container {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: #60a3bc;
      padding: 10px;
      text-align: center;
  }
  .brand_logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 2px solid white;
  }
  .form_container {
      margin-top: 100px;
  }
  .login_btn {
      width: 100%;
      background: #c0392b !important;
      color: white !important;
  }
  .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .login_container {
      padding: 0 2rem;
  }
  .input-group-text {
      background: #c0392b !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
  .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #c0392b !important;
  }